# Testing Report

### Emma Nickel

<br>

## Criteria

    - Develop tests to determine that application logic and syntax satisfies user requirements and application specifications, and modify application to meet user requirements and application specifications

    - Document tests according to organisational documentation conventions

    - Demonstrates an understanding of debugging tools and procedures.

    - Perform and document at least three unit test cases that are relevant to the user requirements.
    (test cases contain the following points: user requirements being tested, Inputs required to test functionality,Expected outcome of the test,Actual outcome of the test,Modifications required (if defect identified)

<br>

## Organisational Requirements for Software Testing
- All automated testing to be done in Jest

- All manual test instructions must be clear enough for anyone to follow and verify the software

- All software must have over 75% coverage of functions tested by automated testing

- A software test plan must include automatic and manual unit testing during a testing phase

- A software test plan must include manual system testing of the program during a testing phase

- A software test plan must include test cases with purposefully invalid, incorrect, or malformed inputs

- Testing requirement reports must include discussion of how testing fits into the SDLC of your project

- All test progress reports must include an appendix with a JUnit xml document of the automated testing results

<br>

## Results of Unit Testing

| Unit test case | User requirement being tested | Inputs required to test functionality | Expected outcome of test | Actual outcome of test | Modifications required |
|---|---|---|---|---|---|
| 1 | Create musician? | `'1'` <br> `'guitarist'` <br> `'Emma'` <br> `'4'` <br> `'70'` <br> | | | |
| 2 | Create troupe? | | | | |
| 3 | Add musician to troupe? | | | | |
| 4 | | | | | |
| 5 | Provide a detailed description of a troupe | | | | |