# Testing Report

### Emma Nickel

## Criteria

    - Develop tests to determine that application logic and syntax satisfies user requirements and application specifications, and modify application to meet user requirements and application specifications

    - Document tests according to organisational documentation conventions

    - Demonstrates an understanding of debugging tools and procedures.

    - Perform and document at least three unit test cases that are relevant to the user requirements.
    (test cases contain the following points: user requirements being tested, Inputs required to test functionality,Expected outcome of the test,Actual outcome of the test,Modifications required (if defect identified)

<br>

| Unit test case | User requirement being tested | Inputs required | Expected outcome of test | Actual outcome of test | Modifications required |
|---|---|---|---|---|---|
| 1 | | | | | |
| 2 | | | | | |
| 3 | | | | | |
| 4 | | | | | |
| 5 | | | | | |